<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mylayout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
        });
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div class="content" layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <td>글번호</td>
            <td>작성자</td>
            <td>글제목</td>
            <td>글내용</td>
            <td>수정</td>
            <td>삭제</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="boardQA, status: ${list}">
            <td th:text="${boardQA.no}"></td>
            <td>
                <a th:href="'/boardQA/detail/'+${boardQA.no}" th:text="${boardQA.writer}"></a>
            </td>
            <td th:text="${boardQA.subject}"></td>
            <td th:text="${boardQA.description}"></td>
            <td>
                <a th:href="'/boardQA/update/'+${boardQA.no}" th:text="수정"></a>
            </td>
            <td>
                <a th:href="'/boardQA/delete/'+${boardQA.no}" th:text="삭제"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <a th:href="'/boardQA/insert'">
        <button type="button" class="btn btn-primary">등록하기</button>
    </a>
</div>
</html>